@mixin dark-theme {
  --background: #0a0a0a;
  --foreground: #ededed;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    @include dark-theme;
  }
}

[data-theme="dark"] {
  @include dark-theme;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}